{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <p>Bonne chance !</p>
        {% if app.user %}
            <p>Pour accéder à certains challenges, il faut créer un compte sur <a target="_blank" href="https://root-me.org">https://root-me.org</a></p>
        {% endif %}
    </div>
{% endblock %}
