<form action="" method="post">
    <div class="input-group">
        <input id="solution" class="form-control" placeholder="solution" type="text" name="solution" aria-describedby="button-addon{{ loop.index }}">
        <button class="btn btn-primary text-light" type="submit" id="button-addon{{ loop.index }}">Test</button>
    </div>
</form>
