<form action="" method="post">
    <div class="input-group">
        <input class="form-control" type="text" name="solution" aria-describedby="button-addon{{ loop.index }}">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon{{ loop.index }}">Test</button>
    </div>
</form>
