{% extends 'base.html.twig' %}

{% block title %}Challenges
{% endblock %}

{% block body %}
	<main class="container">
		<section class="mt-3 p-3 card fs-5">
			<h1 class="text-primary">Instructions</h1>
			<hr>
			<ul>
				<li>Pour chaque challenge, tu dois cliquer sur le bouton pour accéder à un exercice sur une plateforme externe.</li>
				<li>Tu dois résoudre cet exercice, ce qui te permettra de récupérer une solution</li>
				<li>Saisi cette solution dans le champ dédié du challenge.
				</li>
				<li>Si la solution est correcte, tu accèdes au challenge suivant.</li>
			</ul>
		</section>
		<section class="mt-5">
			{% for challenge in challenges %}
				{% include 'challenge/_card.html.twig' %}
			{% endfor %}
		</section>
	</main>
{% endblock %}
